<title><%= title %></title>

<meta name="description" content="<%= description %>">

<meta name="rating" content="general">
<meta name="keywords" content="<%= keywords %>">
<meta name="robots" content="index, follow">

<link rel="canonical" href="<%= URI.join(config[:host], url) %>">
<meta name="referrer" content="origin">

<link rel="icon" href="https://dialoganalytics.com/images/favicon.ico">
<link rel="icon" sizes="196x196" href="https://dialoganalytics.com/images/android-homescreen.png">
<link rel="apple-touch-icon" href="https://dialoganalytics.com/images/apple-touch-icon.png">

<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:title" content="<%= title %>">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="<%= URI.join(config[:host], url) %>">
<meta property="og:description" content="<%= description %>">
<meta property="og:site_name" content="Dialog Help">
<meta property="og:image" content="https://dialoganalytics.com/images/og-image.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= description %>">
<meta name="twitter:url" content="<%= URI.join(config[:host], url) %>">
<meta name="twitter:image:src" content="https://dialoganalytics.com/images/twitter-image.png">
